.nav-item1 p{
  text-align: right;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: grey;
}

.nav-item2 p{
  color:grey;
  font-weight: 400;
  text-align: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav-header p{
  text-align: left;
  margin-left: 10%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 19px;
  color: #2F4F4F;
}

#nav-bar{
  margin-top:3%;
}

#main-area{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  padding: 5%;
  height: 40%;
  background-position: 150% 40%;
}
#content p{
  margin-left: 0;
  margin-right: 33%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
#name{
  color:#E97378;
}
