* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Ananda Namaste';
    font-weight: bold;
    src: url('../fonts/Ananda_Namaste.ttf');
}

h1.ttile {
    position: absolute;
    text-align: center
}

.agency2-hero .hero-content-wrapper .hero-content .hero-lead {
    font-family: 'Ananda Namaste';
    color: #ffffff;
    font-size: 15rem;
    text-shadow: 1.6px 1.4px 1.5px #eff;
    letter-spacing: normal;
    margin-top: -50px;
    /* border: 2px solid transparent;
    border-image: linear-gradient(to right, #f0f 0%,#f0f 61%, #3acfd5 61%, #fff, #3acfd5 63%, #0ff,  63%, #0ff 100%);
    border-image-slice: 1; */
}

.contact-info .contact-info-wrapper {
    padding: 0px;
}

.contact-info .contact-info-wrapper .contact-group {
    font-size: 15px;
    width: 100%;
    margin-left: 50px;
}

.contact-info .contact-info-wrapper .contact-group.v {
    margin-left: 30px
}

@media (max-width: 770px) {
    .contact-info .contact-info-wrapper .contact-group.v {
        margin-left: 50px
    }
}

:nth-child(2) .welcome-text {
    text-align: center;
    font-size: 1.2em;
    position: relative;
    margin-top: -100px;
    font-family: Roboto;
    font-weight: 100;
    color: #444444;
    text-shadow: 0px .5px .5px #444444;
}


/* .header-back {
    background-image: linear-gradient( 45deg, #2962FF, #2962FF 40%, #ffffff 40%, #ffffff 85%, #212121 85%);
    background: linear-gradient(to bottom right, #7c4dff, #7c4dff 30%, #7c4dff 30%, #FFFFFF 30%, #ffffff 33%);
    background-repeat: no-repeat;
} */

.sub-logo {
    margin-top: 42px;
    font-size: 1.75rem;
    color: #fdfdfd;
    text-shadow: .5px .3px .3px #444444;
    text-transform: none;
}

.header-back {
    margin: 0px;
    padding: 0px;
}

#news {
    height: 130px;
}

@media screen and (min-width: 500px) and (max-width: 960px) {
    #news {
        height: auto;
    }
}

[data-scrollbar],
[scrollbar],
scrollbar {
    display: block;
    position: relative
}

[data-scrollbar] .scroll-content,
[scrollbar] .scroll-content,
scrollbar .scroll-content {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

[data-scrollbar].sticky .scrollbar-track,
[scrollbar].sticky .scrollbar-track,
scrollbar.sticky .scrollbar-track {
    background: hsla(0, 0%, 87%, 0)
}

[data-scrollbar] .scrollbar-track,
[scrollbar] .scrollbar-track,
scrollbar .scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity .5s ease-out, background .5s ease-out;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

[data-scrollbar] .scrollbar-track.show,
[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track.show,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track.show,
scrollbar .scrollbar-track:hover {
    opacity: 1
}

[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track:hover {
    background: hsla(0, 0%, 87%, 0)
}

[data-scrollbar] .scrollbar-track-x,
[scrollbar] .scrollbar-track-x,
scrollbar .scrollbar-track-x {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0
}

[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
    top: 0;
    right: 0;
    width: 2.8px;
    height: 100%
}

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 2px;
    background: #340043;
}

[data-scrollbar] .overscroll-glow,
[scrollbar] .overscroll-glow,
scrollbar .overscroll-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* #countdown-container>countdown-timer>svg>canvas{
    width: 600px!important;
    height:718;
} */


/* Fire */

.section.section--content {
    padding: 30px;
    margin: 30px;
}

.nav-bar-links {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .header-vid-back{
    -webkit-filter: blur(0.5px);
    -moz-filter: blur(0.5px);
    -ms-filter: blur(0.5px);
    -o-filter: blur(0.5px);
    filter: blur(0.5px);
} */